.about-wrapper{
	display: grid;
	background: #333;
}

.about-wrapper > div {
	grid-template-rows: 100px 50px 10px;
	/*grid-auto-rows: 100px;*/
	background: orange;
	/*height: 5em;*/
	border: 1px solid red;

}

.about-wapper > div:nth-child(odd){
	background-color: #bbb;
}

header{
	color: #333!important;
}

#keg-nav-list > a{
	margin: 0 3rem;
}

#keg-hero{
	/*margin: 5rem 0 1rem 3rem;*/
}

#keg-hero img{
	height: auto;
	width: auto;
}

#keg-desc{
	position: relative;
}

.keg-title{
	position: absolute;
	bottom: 10px;
	left: -200px;
	height: 300px;
	width: 400px;
	border: 1px solid orange;
	background: rgba(255,215,0,.5);
	color: #fff;
}

/*Wordpress integration*/

nav{
	color: #ddd;
}

#d-keg-hero{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/keg-hero.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#d-keg-hero-tit{
	color: #a8973b;
}

#d-keg-hero-subtit{
	color: #fff;
}


   .flex-column { 
       max-width : 260px;
   }

	.flex-column img {
	    /*margin: 2px;*/
	}

    .flex-column .scale {
        transform: scaleY(1.05);
        padding-top: 5px; 
    }

#keg-img-grid{
	padding: 10rem 0;
}

.keg-about-wrapper{
	margin-top: -3rem;
}

.keg-about-wrapper h1{
	color: #a8973b;
}

.keg-menu-titwrapper h1{
	color: #a8973b;	
}